@{
    ViewBag.Title = "Contact";
}
<h3>Thông tin liên hệ</h3>

<address>
    Vũ Quang Tùng
    <br />
    <abbr title="Phone">Điện thoại:</abbr>
    0337 863 853
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:vutung1234567890@gmail.com">vutung1234567890@gmail.com</a><br />
</address>
<div class="col-md-4">
    <img src="~/HinhanhSP/anhtung.jpg" class="img-responsive" alt="" />
    <p><a class="btn btn-default" href="https://www.facebook.com/profile.php?id=100040001596841">Link Facebook &raquo;</a></p>
</div>